
.horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  -webkit-justify-content: center; /* Safari */
  justify-content:         center;
}

.entry-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  -webkit-justify-content: center; /* Safari */
  justify-content:         center;
  -webkit-align-items: flex-end; /* Safari */
  align-items:         flex-end;
}

.vertical {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}


.center {
  display: flex;
  flex-direction: row;
  -webkit-justify-content: center; /* Safari */
  justify-content:         center;
}

.main-card {
  margin: 25px;
  padding: 25px;
}
